---
layout: default
title: "home"
---

<p>Black Diamond Enterprises Fitness Center is a hardcore gym in LA for physique and strength training</p>
<p>We utilize progressive overload and evidence-based training to maximize your aesthetic potential to create a lean, strong, and toned physique.</p>
<p>We have real iron weights ready to assist you to accomplish your fitness goals.</p>



{% if site.show_excerpts %}
  {% include home.html %}
{% else %}
  {% include archive.html title="Posts" %}
{% endif %}
