---
layout: page
title: "Black Diamond Enterprise Fitness Center"
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="">
  </head>
  
  <body>
    
    <h3> Services </h3>
    The gym charges monthly membership or something. at a rate of $20 per person 
    We also offer several sessions/classes and members have access to our personal trainers
    Kickboxing Classes
    Group Training Classes
    Yoga Sessions
  
    <h3>Hours of Operation</h3>
    <p> We are open from: Use CSS to format the distance after the Days to the hours of operation </p>
    <ul>
        <li> Monday:    6am - 10pm </li>
        <li> Tuesday:   6am - 10pm </li>
        <li> Wednesday: 6am - 10pm </li>
        <li> Thursday:  6am - 10pm </li>
        <li> Friday:    6am - 10pm </li>
        <li> Saturday:  7am - 8pm </li>
        <li> Sunday:    9am - 6pm </li>

    </ul>

    <h3>Contact Us</h3>
    <p> Call us at +1(323)-291-0294 if you have any questions. We are one phone call away </p>

    <h3>Directions</h3>
    <p> Please use the link below to get directions to our strength home in Los Angeles </p>
    <p> 5436 Crenshaw Blvd, Los Angeles, CA 90043, United States </p>

    <h3>Reviews</h3>
    <p>Please read these reviews from our previous customers.</p>
    <p>Get reviews from google maps and yelp..and the reviews icon</p>
   </body>
 </html>


{% if site.show_excerpts %}
  {% include home.html %}

